<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Look upith email</title>
</head>
<body>
    <div th:replace="common/header.html"> </div>
    <table align="center" border-collapse="collapse" border="2">
        <tr>
            <th>email</th>
            <th>memberNo</th>
            <th>memberName</th>
            <th>nickname</th>
            <th>id</th>
            <th>pw</th>
            <th>phone</th>
        </tr>
        <tr th:each="member: ${memberByEmail}">
            <td th:text="${member.email}" style="background-color: darkorange"></td>
            <td th:text="${member.memberNo}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.id}"></td>
            <td th:text="${member.pw}"></td>
            <td th:text="${member.phone}"></td>
        </tr>
    </table>
    <a th:href="@{/member/email-input}">Go back to the latest page</a>
    <div style="text-align: right;">
        <a th:href="@{/}">Go back to the main page</a>
    </div>
</body>
</html>
<!--
도저히 뭘 해도 컬럼명만 나오고 데이터 값이 안 나오길래 아예 EmailAndMemberDTO를
새로 파고, MemberController, MemberSerivce, MemberMapper의 List<MemberDTO>를
모두 List<EmailAndMemberDTO>로 바꾸었다. 그리고
MemberMapper의 <select id="findMemberByEmail" parameterType="com.boa.conlog.member.model.dto.MemberDTO"도
<select id="findMemberByEmail" parameterType="com.boa.conlog.member.model.dto.EmailAndMemberDTO"로 바꾸고
EmailAndMemberDTO에서 생성한 필드명과 동일하게 email-list.html의
<th>name</th>을 <th>memberName</th>로 바꾸었더니 원하던 대로 값이 출력되었다. 16:52 250612-->
