<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/review.css}"/>
</head>
<body>
<a th:href="@{/}">
    <div th:replace="common/header.html"/>
</a>
<h1 align="center">Conlog 회원관리</h1>
<div align="center">
    <button onclick="location.href='/member/member-list'">전체 회원 조회</button>
    <button onclick="location.href='/member/email-input'">Email 선택 조회</button>
    <button onclick="location.href='/member/create'">Create New member</button>
</div>
</body>
</html>
