<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1 align="center" style="color: orangered">Conlog</h1>
    <hr>
    <link rel="stylesheet" th:href="@{/css/review.css}"/>
</head>
<body>
<h1 align="center">Conlog 회원관리</h1>
<table align="center">
    <tr>
        <td><button onclick="location.href='/member/member-list'">전체 회원 조회</button></td>
        <td><button onclick="location.href='/member/email-input'">Email 선택 조회</button></td>
        <!--    1) make email-input.html under the resources/templates/member directory and write a code-->
    </tr>
<!--    <td><button onclick="location.href='/member/update'">Update member</button></td>-->

        <!--i. delete form으로 인도할 button 생성-->
<!--        <td><button onclick="location.href='/member/delete'">Delete member</button></td>-->
        <!--ii. Create delete.html under the resources/templates/member directory-->
    <tr>
        <td><button onclick="location.href='/member/create'">Create New member</button></td>
    </tr>
</table>
</body>
</html>