<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const successMessage = '[[${ successMessage }]]';
        if(successMessage){
            alert(successMessage)
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/review.css}"/>
</head>
<body>
    <div th:replace="common/header.html"></div>
    <h1 align="center">OTT 관리 페이지</h1>
    <table border="1" align="center">
        <tr>
            <th>번호</th>
            <th>이름</th>
        </tr>
        <tr th:each="ott : ${ottList}" class="ottRow">
            <td th:text="*{ott.ottNo}" class="ottNo"></td>
            <td th:text="*{ott.ottName}"></td>
        </tr>
    </table>
    <br>
    <div style="text-align: center">
        <button id="registBtn">새 OTT 등록하기</button>
        <form action="/ott/regist" method="post" id="resitForm">
            <input type="text" name="newOttName" id="inputOttName" placeholder="새로 등록할 OTT 이름을 입력해주세요." style="display: none"/>
            <button type="submit" id="submit" style="display: none">등록하기</button>
            <span align="center" style="display: none; color: #c0392b; font-weight: bold" id="warningMessage">OTT 명을 입력해주세요.</span>
        </form>
    </div>
    <script>
        /* 행 누르면 상세 페이지로 넘어가기 */
        const $ottRow = document.querySelectorAll(".ottRow");
        const $ottNo = document.querySelectorAll(".ottNo");

        $ottRow.forEach((ott, index) => {
            ott.style.cursor = "pointer";
            ott.addEventListener("click", ()=>{
                const selectedOttNo = $ottNo[index].textContent.trim();

                console.log(selectedOttNo);

                window.location.href = `/ott/one/${selectedOttNo}`;
            })
        })

        /* 새 OTT 등록하기 */
        const $registBtn = document.getElementById("registBtn");
        const $inputOttName = document.getElementById("inputOttName");
        const $submit = document.getElementById("submit");
        const $registForm = document.getElementById("resitForm");
        const $warningMessage = document.getElementById("warningMessage");

        $registBtn.addEventListener("click", () => {
            $registBtn.style.display = "none";
            $inputOttName.style.display = "inline-block";
            $inputOttName.style.height = "25px";
            $inputOttName.style.width = "220px";
            $inputOttName.style.verticalAlign = "middle";
            $submit.style.display = "inline-block";
        })

        $registForm.addEventListener("submit", (e) => {
            const inputValue = $inputOttName.value.trim();

            if(inputValue == null || inputValue == ""){
                e.preventDefault();
                $warningMessage.style.display="block";
            } else {
                $warningMessage.style.display = "none";
            }
        })


    </script>
</body>
</html>