<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const successMessage = '[[${ successMessage }]]';

        if(successMessage) {
            alert(successMessage);
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/review.css}"/>
</head>
<body>
    <div th:replace="common/header.html"></div>
    <h1 align="center">OTT 상세 정보</h1>
    <table align="center" border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
        </tr>
        <tr>
            <td th:text="${oneOtt.ottNo}" class="selectedOttNo"></td>
            <td th:text="${oneOtt.ottName}"></td>
        </tr>
    </table>
    <br>
    <div style="text-align: center" >
        <div style="display: inline-block;">
            <button id="modifyBtn">수정하기</button>
        </div>
        <form action="/ott/delete" method="post" style="display: inline-block;">
            <input type="hidden" th:value="${oneOtt.ottNo}" name="ottNo">
            <button id="deleteBtn">삭제하기</button>
        </form>
        <form action='/ott/modify' method="post" id="modifyForm">
            <input type="hidden" th:value="${oneOtt.ottNo}" name="ottNo">
            <label style="display: inline">수정할 이름 : </label><input type="text" name="ottName" id="modifyName"/>
            <button type="submit" id="submit">수정</button>
            <span align="center" style="display: none; color: #c0392b; font-weight: bold" id="warningMessage">OTT 명을 입력해주세요.</span>
        </form>
        <div style="display: inline-block">
            <button onclick="window.location.href='/ott/list'" id="toList">OTT 목록으로</button>
        </div>
    </div>

    <script>
        const $modifyBtn = document.getElementById("modifyBtn");
        const  $deleteBtn = document.getElementById("deleteBtn");
        const $modifyForm = document.getElementById("modifyForm");
        $modifyForm.style.display = "none";
        const $modifyName = document.getElementById("modifyName");
        $modifyName.style.height = "25px";
        $modifyName.style.verticalAlign = "middle";
        const $warningMessage = document.getElementById("warningMessage");
        const $toList = document.getElementById("toList");

        $modifyBtn.addEventListener("click", () => {
            $modifyBtn.style.display = "none";
            $deleteBtn.style.display = "none";
            $modifyForm.style.display = "block";
            $toList.style.display = "none";
        })

        $modifyForm.addEventListener("submit", (e) => {
            const inputValue = $modifyName.value.trim();

            if(inputValue == null || inputValue == ""){
                e.preventDefault();
                $warningMessage.style.display="block";
            } else {
                $warningMessage.style.display = "none";
            }
        })

    </script>

</body>
</html>