<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>추가</title>
</head>
<style>
    label {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: orangered;
    }
</style>
<body>
<a href="/content/page" style="text-decoration: none;">
    <div th:replace="common/header.html"/>
</a>
<form th:action="@{/content/create}" method="post">
    <label>컨텐츠 이름</label>
    <input type="text" name="contentsName">
    <br>
    <label>작가/감독 이름</label>
    <input type="text" name="creatorName"><br>
    <label>출품 연도</label>
    <input type="number" name="year" min="1800" max="2025"><br>
    <label>이미지 URL</label>
    <input type="text" name="url"><br>
    <label>카테고리 선택</label>
    <select name="categoryCode" id="categoryCode"/>
    <hr><input type="submit" value="완료">
</form>

<script>
    fetch("/content/category")
        .then(res => res.json())
        .then(data => {
            console.log(data);

            const $categoryCode = document.getElementById("categoryCode");
            for(let index in data) {
                const $option = document.createElement('option');
                $option.value = data[index].no;
                $option.textContent = data[index].name;
                $categoryCode.appendChild($option);
            }
        })
</script>
</body>
</html>