<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>컨텐츠 페이지</title>
    <link rel="stylesheet" th:href="@{/css/review.css}"/>
    <style>
        a {
            text-decoration: none;
            color: orangered;
        }
    </style>
</head>
<body>
<a href="/">
    <div th:replace="common/header.html"/>
</a>
<table align="center" border="1">
    <tr>
        <th>컨텐츠 번호</th>
        <th>컨텐츠 이름</th>
        <th>작가/감독 이름</th>
        <th>출품 연도</th>
        <th>이미지 URL</th>
        <th>카테고리 번호</th>
        <th>관리</th>
    </tr>
    <tr th:each="content : ${ contentList }">
        <td th:text="${ content.no }"></td>
        <td th:text="${ content.contentsName }"></td>
        <td th:text="${ content.creatorName }"></td>
        <td th:text="${ content.year }"></td>
        <td>
            <img th:src="${content.url}" alt="이미지" style="max-width:100px; max-height:80px;" />
        </td>
        <td th:text="${ content.categoryCode }"></td>
        <td>
            <button class="view" th:onclick="|location.href='@{/content/detail/{no}(no=${content.no})}'|">view</button>
            <button class="modify" th:onclick="|location.href='@{/content/modify/{no}(no=${content.no})}'|">modify</button>
            <button class="delete" th:onclick="|location.href='@{/content/delete/{no}(no=${content.no})}'|">delete</button>
        </td>
    </tr>
</table>

<script>
    const deleteMessage = `[[${deleteMessage}]]`;
    if(deleteMessage) alert(deleteMessage);

    const modifyMessage = `[[${modifyMessage}]]`;
    if(modifyMessage) alert(modifyMessage);

    const createMessage = `[[${createMessage}]]`;
    if(createMessage) alert(createMessage);
</script>
<br>
<br>
<div style="text-align: center;">
    <a class="create" th:href="@{/content/create}">+ 새로운 컨텐츠 추가</a>
</div>
</body>
</html>